#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.products {
  width: 600px;
  padding: 16px;
}

.cart {
  width: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.clear-cart-btn {
  margin-top: auto;
  padding: 8px 16px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button{
  margin: 7px;
}
.clear-cart-btn:hover {
  background-color: #cc0000;
}

.logo {
  height: 96px;
  padding: 24px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 32px;
}

.read-the-docs {
  color: #888;
}
